matplotlib==3.10.1
numpy==2.2.4
pandas==2.2.3
plotly==6.0.1
protobuf
pyreadstat==1.2.7
scikit_learn==1.6.1
streamlit==1.43.2
streamlit_vertical_slider==2.5.5
google-cloud-storage
streamlit_toggle
openpyxl